.barra-superior{

    position:sticky;

    top:0;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:18px 50px;

    background:rgba(0,0,0,0.1);

    backdrop-filter:blur(10px);

    border-bottom:1px solid rgba(255,255,255,0.06);

    z-index:100;

}


.logo img{

    width:45px;

    height:45px;

    border-radius:50%;

    object-fit:cover;

}



.menu-principal{

    display:flex;

    align-items:center;

    gap:45px;

}


.menu-principal a{

    color:#d8d8d8;

    text-decoration:none;

    font-size:0.9rem;

    transition:0.2s;

}


.menu-principal a:hover{

    color:white;

}


/* MARCA */

.marca a{

    font-size:2rem !important;

    font-weight:900;

    letter-spacing:4px;

}




.acciones{

    display:flex;

    align-items:center;

    gap:18px;

}



.acciones-buscador{

    position:relative;

    display:flex;

    align-items:center;

}


.buscador{

    width:180px;

    padding:10px 14px;

    background:rgba(255,255,255,0.04);

    border:1px solid rgba(255,255,255,0.08);

    border-radius:12px;

    color:white;

    transition:0.2s;

}


.buscador:focus{

    width:220px;

    outline:none;

    border-color:rgba(255,255,255,0.2);

}


.icono{

    width:22px;

    height:22px;

    cursor:pointer;

}


.lupa{

    position:absolute;

    right:12px;

    top:50%;

    transform:translateY(-50%);

}



.acciones-login{

    position:relative;

    display:flex;

    align-items:center;

    height:100%;

}


.login{

    cursor:pointer;

    user-select:none;

    color:#d8d8d8;

    text-decoration:none;

    transition:
        color .2s ease,
        transform .2s ease;

}


.login:hover{

    color:white;

}



.menu-usuario{

    position:absolute;

    top:calc(100% + 12px);

    right:0;

    width:190px;

    padding:6px;

    background:rgba(25,25,25,0.96);

    backdrop-filter:blur(12px);

    border:1px solid rgba(255,255,255,0.08);

    border-radius:12px;

    overflow:hidden;

    opacity:0;

    visibility:hidden;

    transform:
        translateY(-8px)
        scale(.98);

    transform-origin:top right;

    transition:
        opacity .2s ease,
        transform .2s ease,
        visibility .2s;

    z-index:999;

}

/* MENU ABIERTO */

.menu-usuario.activo{

    opacity:1;

    visibility:visible;

    transform:
        translateY(0)
        scale(1);

}


/* OPCIONES DEL MENU */

.menu-usuario a{

    display:block;

    padding:11px 13px;

    border-radius: 0px;

    color:#e8e8e8;

    text-decoration:none;

    font-size:.9rem;

    transition:
        background .2s ease,
        color .2s ease;

}


.menu-usuario a:hover{

    background:rgba(255,255,255,0.08);

    color:white;

}


/* CERRAR SESION */

.menu-usuario a:last-child{

    margin-top:4px;

    border-top:1px solid rgba(255,255,255,0.08);

    color:#e8e8e8;

}



.acciones-carrito{

    position:relative;

    cursor:pointer;

}


.carrito{

    position:absolute;

    inset:auto;

    width:22px;

    height:22px;

    z-index:2;

}


#contadorCarrito{

    position:absolute;

    top:-8px;

    right:-10px;

    width:20px;

    height:20px;

    display:flex;

    justify-content:center;

    align-items:center;

    border-radius:50%;

    background:#ff3b3b;

    color:white;

    font-size:12px;

    font-weight:bold;

}



@media (max-width:768px){

    .barra-superior{

        flex-direction:column;

        gap:20px;

        padding:20px;

    }


    .menu-principal{

        flex-wrap:wrap;

        justify-content:center;

        gap:20px;

    }


    .acciones{

        flex-wrap:wrap;

        justify-content:center;

    }


    .buscador{

        width:100%;

    }


    .buscador:focus{

        width:100%;

    }

}