#toast {
    position: fixed;
    top: 100px;
    right: 30px;
    padding: 16px 24px;
    background-color: #171717;
    color: white;
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    transform: translateX(420px);
    opacity: 0;
    transition: transform .35s ease, opacity .35s ease;
    z-index: 9999;
    font-size: .95rem;

}

#toast.activo {
    transform: translateX(0);
    opacity: 1;
}

#toast.success{

    background:#2ecc71;

    color:white;

}

#toast.error{

    background:#e74c3c;

    color:white;

}

#toast.warning{

    background:#f39c12;

    color:white;

}